In [6]:
import pandas as pd

In [7]:
from ncaa2019 import DataSet

In [8]:
ds = DataSet()

default path used C:\Users\Huang\kaggle-ncaa-2019-data

In [9]:
ds.list_raw_keys()

['city',
 'conf',
 'conftour',
 'gamecity',
 'massey',
 't_compact_result',
 't_detail_result',
 't_seed_slot',
 't_seed',
 't_slot',
 'r_compact_result',
 'r_detail_result',
 'season',
 'st_compact_result',
 'st_team',
 'team',
 'coache',
 'team_conf',
 'team_spelling']

In [10]:
for key in ds.list_raw_keys():
    df = ds.get_raw_data(key)
    print(f"""{key} {df.shape}
    {df.head()}
    """)

city (421, 3)
       CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

conf (51, 2)
      ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

conftour (4861, 5)
       Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273

gamecity (49235, 6)
       Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027

massey (3492320, 5)
       Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

t_compact_result (2184, 8)
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

t_detail_result (1048, 34)
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     31    14    31   17   28    16   15     5     0   22
1  ...     16     7     7    8   26    12   17    10     3   15
2  ...     28    14    21   20   22    11   12     2     5   18
3  ...     17    12    17   14   17    20   21     6     6   21
4  ...     21    15    20   10   26    16   14     5     8   19

[5 rows x 34 columns]

t_seed_slot (720, 5)
      Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0  W01          1     R1W1          136         137
1  W01          2     R2W1          138         139
2  W01          3     R3W1          143         144
3  W01          4     R4W1          145         146
4  W01          5     R5WX          152         152

t_seed (2218, 3)
       Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

t_slot (2184, 4)
       Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

r_compact_result (156089, 8)
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

r_detail_result (82041, 34)
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     10    16    22   10   22     8   18     9     2   20
1  ...     24     9    20   20   25     7   12     8     6   16
2  ...     26    14    23   31   22     9   12     2     5   23
3  ...     22     8    15   17   20     9   19     4     3   23
4  ...     16    17    27   21   15    12   10     7     1   14

[5 rows x 34 columns]

season (35, 6)
       Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

st_compact_result (1551, 9)
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    1985     136     1151      67     1155      65    H      0
1    1985     136     1153      77     1245      61    H      0
2    1985     136     1201      79     1365      76    H      0
3    1985     136     1231      79     1139      57    H      0
4    1985     136     1249      78     1222      71    H      0

  SecondaryTourney
0              NIT
1              NIT
2              NIT
3              NIT
4              NIT

st_team (1568, 3)
       Season SecondaryTourney  TeamID
0    1985              NIT    1108
1    1985              NIT    1133
2    1985              NIT    1139
3    1985              NIT    1145
4    1985              NIT    1151

team (366, 4)
       TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2019
1    1102    Air Force           1985          2019
2    1103        Akron           1985          2019
3    1104      Alabama           1985          2019
4    1105  Alabama A&M           2000          2019

coache (10994, 5)
       Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney

team_conf (11241, 3)
       Season  TeamID ConfAbbrev
0    1985    1114      a_sun
1    1985    1147      a_sun
2    1985    1204      a_sun
3    1985    1209      a_sun
4    1985    1215      a_sun

team_spelling (1141, 2)
         TeamNameSpelling  TeamID
0    a&m-corpus chris    1394
1  a&m-corpus christi    1394
2         abilene chr    1101
3   abilene christian    1101
4   abilene-christian    1101